<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>

    <% if (!title === 'Add Contact') { %>
        <%- include('nav') %>
    <% } %>

    <div class="container">
        <%- body %>
    </div>

    <script src="https://kit.fontawesome.com/702c8f6044.js" crossorigin="anonymous"></script>
</body>
</html>