<header id="save" class="abosolute">
  <div class="container">
    <div class="flex w-full text-center">
      <a href="/contact" class="py-4 bg-transparent w-full font-bold hover:text-primary ">CANCEL</a>
      <button type="submit" class="py-4 bg-transparent w-full font-bold hover:text-primary">SAVE</button>
    </div>
  </div>
</header>