<form action="" method="" class="pt-5">
  <div class="container main">

    <div class="p-4 flex">
      <input type="text" placeholder="Name" class="w-full appearance-none focus:outline-none border-b-2 border-b-secondary focus:border-b-primary">
    </div>

  </div>
</form>

<script type="module" src="/js/add-contact.js"></script>