<form action="/contact" method="" id="edit">
  <%- include('layouts/save') %>

  <div class="container main pt-5 pb-10">

    <div class="p-4 flex">
      <input type="text" required placeholder="Name" class="w-full appearance-none focus:outline-none border-b-2 border-b-secondary focus:border-b-primary">
    </div>

  </div>
</form>

<script type="module" src="/js/add-contact.js"></script>