<div class="container mt-20">
  <div class="flex w-full px-4">
    <a href="/contact/add" class="flex gap-4 w-full cursor-pointer transition duration-300 hover:bg-slate-50 hover:rounded-full">
      <div class="photo h-20 w-24 rounded-full overflow-hidden border">
        <img src="img/profile.png" alt="Photo Profile" class="">
      </div>

      <div class="info items-center flex w-full">
        <h1 class="font-bold text-xl">Create Contact</h1>
      </div>
    </a>
  </div>
</div>

<%- include('layouts/list') %>