<section id="detail" class="pt-20 min-h-screen bg-slate-100">
  <div class="container">
    <div class="px-4 flex flex-col gap-4">
      <div class="p-4 bg-slate-50 shadow rounded flex">
        <div class="w-full text-center">
          <h1 class="font-bold text-lg">Ahmad Syaeful Fakhruddin</h1>
          <h2 class="font-light text-sm text-secondary">Student, TKRO, PLUS AL-AITAAM</h2>
        </div>
        <i id="star" class="fa-regular fa-star bg-slate-50 cursor-pointer p-4 hover:text-primary hover:opacity-70"></i>
      </div>

      <div class="grid grid-cols-1 shadow rounded">
        <div class="p-4 phone cursor-pointer bg-slate-50 hover:opacity-70">
          <h2 class="font-extralight text-sm text-secondary block">Phone</h2>
          <p class="text-lg">083866956656</p>
        </div>
      </div>
    </div>
  </div>
</section> 