<section class="mt-20 w-full" id="home">
  <div class="container p-4">
    <div class="profil flex justify-center w-full flex-wrap gap-4">
      <div class="profil-foto w-full flex justify-center">
        <div class="w-48 h-48 border-2 rounded-full overflow-hidden shadow-lg">
          <img src="img/profile.png" alt="foto profil">
        </div>
      </div>
      <div class="profil-info flex flex-col items-center w-full">
        <h1 class="font-bold text-2xl">Ahmad Syaeful Fakhruddin</h1>
        <h2 class="font-medium text-lg">083866956656</h2>
      </div>
    </div>
  </div>
</section>